
/* 初始化代码 */
*{
    padding: 0;
    margin: 0;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
 /* 字体 */
body{
    font-size: 14px;
    line-height: 2em;
   
}
ol,ul,dl{
    list-style: none;
}
img{
    border: 0px;
    vertical-align: middle;   
}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}

a{
    color: #666;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration:none;
}

i,em,u{
    font-style: normal;
}
s{
     text-decoration: none;
 }
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
input,button {
    outline: none;

}

.clearfix {
    *zoom: 1
}
/* 版心 并且居中对齐*/
.w {    
    width: 1200px;
    margin: 0 auto;
}
div{
    box-sizing: border-box
}

/* 处理兼容性问题 */

/* 去除火狐浏览器输入框的红色边框 */
input[required]:invalid, input:focus:invalid, textarea[required]:invalid,   textarea:focus:invalid{box-shadow: none;}
-moz-box-shadow:none

 /* 谷歌浏览器输入框变黄色记住密码 */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    -webkit-text-fill-color: #666!important;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.textarea_box:focus,input:focus{
    border: 1px solid rgb(82, 121, 240)
}

    /* 模态框的样式 */
    #deletefis{
        width: 364px;
        height: 250px;
        border-radius: 5px;
        text-align: center;
        top: 300px;
        left:40%;
       
    
        h3{
            margin-top: 61px;
            font-size: 24px;
            color: #169bd5;
            margin-bottom: 13px;
    
    
        }
        p{
            font-size: 14px;
            margin-bottom: 44px;
            color: #999999
        }
        a{
            display: inline-block;
            width: 100px;
            height: 33px;
            padding: 0px;
            font-size: 15px;
            line-height: 33px;
            margin: 0px 20px;
            border-radius: 20px;
            color: #c0c0c0;
            outline: none;
            background: #fff;
          
        }
        .nochick{
            border: solid 1px #c0c0c0;
        }
        .mdel{
             background: #3ebefb;
             color: #fff
        }
    
    }

    @keyframes jipao
    {
        from{
            transform: translate(60px);
        }
        to{
            transform: translate(0);
        }
    }
    @keyframes jipao1
    {
        from{
            transform: translate(50px);
        }
        to{
            transform: translate(0);
        }
    }

/* 侧边栏部分css */
body {

   font-family: "Microsoft YaHei","Times New Roman";
}
/* .clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
    display: block;
    content: none
} */


nav {
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
    .fixed{
        width: 100%;
        height: 60px;;
        // position: fixed;
       
    }
    .nav_top {
        width: 78%;
        width:1200px;
        height: 60px;
        // padding: 17px 0;
        margin: 0 auto;
        position: relative;
        // background-color: gray;
        .nav_left {
            float: left;
            font-size: 18px;
            width: 25%;
            height: 60px;
            // background-color: red;
            .log{
                float: left;
                margin-right: 12px;
               
            }
            h4 {
                font-family: FontName;
                vertical-align: middle;
                color: #FFF;
                letter-spacing: 0.64px;
                line-height: 32px;
                
            }
        }
        .nav_right {
            float: right;
            height: 60px;
            line-height: 60px;
            // background-color: pink;
            ul {
                width: 500px;
                li {
                    float: left;
                    font-size: 14px;
                    opacity: 0.5;
                    font-family: PingFangSC-Regular;
                    color: #FFF;
                    margin-right: 33px;
                    a {
                        color: white;
                          text-decoration: none
                    }
                  
                  
                }
               
                li:hover{
                    opacity: 1 ;
                    a{
                        text-decoration: none
                    }
                }
                .white{
                    opacity: 1 ;
                }
                .lastli {
                    float: right;
                     margin: 0;
                }
               .persion_top{
                   margin:0  10px;
               }
                
            }
        }
     
    }

}

