/* 初始化代码 */
* {
  padding: 0;
  margin: 0;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
  padding: 0;
  margin: 0;
}
/* 字体 */
body {
  font-size: 14px;
  line-height: 2em;
}
ol,
ul,
dl {
  list-style: none;
}
img {
  border: 0px;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
i,
em,
u {
  font-style: normal;
}
s {
  text-decoration: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
input,
button {
  outline: none;
}
.clearfix {
  *zoom: 1;
}
/* 版心 并且居中对齐*/
.w {
  width: 1200px;
  margin: 0 auto;
}
div {
  box-sizing: border-box;
}
/* 处理兼容性问题 */
/* 去除火狐浏览器输入框的红色边框 */
input[required]:invalid,
input:focus:invalid,
textarea[required]:invalid,
textarea:focus:invalid {
  box-shadow: none;
}
-moz-box-shadow:none input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: #666!important;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.textarea_box:focus,
input:focus {
  border: 1px solid #5279f0;
}
/* 模态框的样式 */
#deletefis {
  width: 364px;
  height: 250px;
  border-radius: 5px;
  text-align: center;
  top: 300px;
  left: 40%;
}
#deletefis h3 {
  margin-top: 61px;
  font-size: 24px;
  color: #169bd5;
  margin-bottom: 13px;
}
#deletefis p {
  font-size: 14px;
  margin-bottom: 44px;
  color: #999999;
}
#deletefis a {
  display: inline-block;
  width: 100px;
  height: 33px;
  padding: 0px;
  font-size: 15px;
  line-height: 33px;
  margin: 0px 20px;
  border-radius: 20px;
  color: #c0c0c0;
  outline: none;
  background: #fff;
}
#deletefis .nochick {
  border: solid 1px #c0c0c0;
}
#deletefis .mdel {
  background: #3ebefb;
  color: #fff;
}
/* 侧边栏部分css */
body {
  font-family: "Microsoft YaHei", "Times New Roman";
}
/* .clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
    display: block;
    content: none
} */
nav {
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
}
nav .fixed {
  width: 100%;
  height: 60px;
}
nav .nav_top {
  width: 78%;
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  position: relative;
}
nav .nav_top .nav_left {
  float: left;
  font-size: 18px;
  width: 25%;
  height: 60px;
}
nav .nav_top .nav_left .log {
  float: left;
  margin-right: 12px;
}
nav .nav_top .nav_left h4 {
  font-family: FontName;
  vertical-align: middle;
  color: #FFF;
  letter-spacing: 0.64px;
  line-height: 32px;
}
nav .nav_top .nav_right {
  float: right;
  height: 60px;
  line-height: 60px;
}
nav .nav_top .nav_right ul {
  width: 500px;
}
nav .nav_top .nav_right ul li {
  float: left;
  font-size: 14px;
  opacity: 0.5;
  font-family: PingFangSC-Regular;
  color: #FFF;
  margin-right: 33px;
}
nav .nav_top .nav_right ul li a {
  color: white;
  text-decoration: none;
}
nav .nav_top .nav_right ul li:hover {
  opacity: 1 ;
}
nav .nav_top .nav_right ul li:hover a {
  text-decoration: none;
}
nav .nav_top .nav_right ul .white {
  opacity: 1 ;
}
nav .nav_top .nav_right ul .lastli {
  float: right;
  margin: 0;
}
nav .nav_top .nav_right ul .persion_top {
  margin: 0  10px;
}
@media screen and (min-width: 1300px) {
  body,
  html {
    width: 100%;
    height: 100%;
    min-height: 900px;
  }
  body .busin,
  html .busin {
    width: 100%;
    height: 76%;
    padding: 60px 0;
    background-image: linear-gradient(-225deg, #6676E9 0%, #486CD8 100%);
    position: relative;
  }
  body .busin .busin_in,
  html .busin .busin_in {
    position: absolute;
    top: 300px;
    left: 16%;
    width: 340px;
    height: 200px;
    background: url(../img/businText.png) center no-repeat;
    background-size: contain;
  }
  body .busin .busin_main,
  html .busin .busin_main {
    position: absolute;
    z-index: 66;
    top: 200px;
    left: 44%;
    width: 600px;
    height: 600px;
    background: #FFFFFF;
    box-shadow: 2px 8px 10px 0 rgba(4, 4, 4, 0.13);
    border-radius: 4px;
    padding: 50px 70px 20px 70px;
  }
  body .busin .busin_main .busin_min_box,
  html .busin .busin_main .busin_min_box {
    width: 100%;
    height: 240px;
    position: relative;
    border-radius: 4px;
  }
  body .busin .busin_main .busin_min_box .voice,
  html .busin .busin_main .busin_min_box .voice {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 230px;
    right: 20px;
  }
  body .busin .busin_main .busin_min_box .voice span,
  html .busin .busin_main .busin_min_box .voice span {
    color: #486CD8;
  }
  body .busin .busin_main .busin_min_box #email_prompt,
  html .busin .busin_main .busin_min_box #email_prompt,
  body .busin .busin_main .busin_min_box #mobile_prompt,
  html .busin .busin_main .busin_min_box #mobile_prompt,
  body .busin .busin_main .busin_min_box #textare_prompt,
  html .busin .busin_main .busin_min_box #textare_prompt {
    color: red;
  }
  body .busin .busin_main .busin_min_box .voicenoshow,
  html .busin .busin_main .busin_min_box .voicenoshow {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 200px;
    right: 20px;
    z-index: 66;
    display: none;
  }
  body .busin .busin_main .busin_min_box .textarea_box,
  html .busin .busin_main .busin_min_box .textarea_box {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #E4E7ED;
  }
  body .busin .busin_main .busin_min_box .textarea_box:focus,
  html .busin .busin_main .busin_min_box .textarea_box:focus,
  body .busin .busin_main .busin_min_box input:focus,
  html .busin .busin_main .busin_min_box input:focus {
    border: 1px solid #5279f0;
  }
  body .busin .busin_main .busin_min_box input,
  html .busin .busin_main .busin_min_box input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    margin-top: 12px;
    border: 1px solid #E4E7ED;
    border-radius: 4px;
  }
  body .busin .busin_main .busin_min_box input:nth-of-type(1),
  html .busin .busin_main .busin_min_box input:nth-of-type(1) {
    margin-top: 6px;
  }
  body .busin .busin_main .busin_min_box .btn_sure,
  html .busin .busin_main .busin_min_box .btn_sure {
    width: 148px;
    height: 50px;
    background: #6883d3;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #FFFFFF;
    border: 0;
    margin-left: 150px;
    letter-spacing: 0;
    text-align: center;
  }
  body .busin .busin_main .busin_min_box button,
  html .busin .busin_main .busin_min_box button {
    margin-top: 30px;
  }
  body .busin .busin_main .busin_min_box .btn_ns,
  html .busin .busin_main .busin_min_box .btn_ns {
    width: 136px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E4E7ED;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    margin-left: 20px;
    font-size: 12px;
    color: #6E6D7A;
    letter-spacing: 0;
    text-align: center;
  }
  body .busin .busin_main .busin_min_box textarea::placeholder,
  html .busin .busin_main .busin_min_box textarea::placeholder {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #DDE1E4;
    letter-spacing: 0;
    margin-top: 6px;
    line-height: 18px;
  }
  body .busin .busin_main .busin_min_box input::-webkit-input-placeholder,
  html .busin .busin_main .busin_min_box input::-webkit-input-placeholder,
  body .busin .busin_main .busin_min_box textarea::-webkit-input-placeholder,
  html .busin .busin_main .busin_min_box textarea::-webkit-input-placeholder {
    color: #DDE1E4;
  }
  body .busin .busin_main .busin_min_box input:-moz-placeholder,
  html .busin .busin_main .busin_min_box input:-moz-placeholder,
  body .busin .busin_main .busin_min_box textarea:-moz-placeholder,
  html .busin .busin_main .busin_min_box textarea:-moz-placeholder {
    color: #DDE1E4;
  }
  body .busin .busin_main .busin_min_box input::-moz-placeholder,
  html .busin .busin_main .busin_min_box input::-moz-placeholder,
  body .busin .busin_main .busin_min_box textarea::-moz-placeholder,
  html .busin .busin_main .busin_min_box textarea::-moz-placeholder {
    color: #DDE1E4;
  }
  body .busin .busin_main .busin_min_box input:-ms-input-placeholder,
  html .busin .busin_main .busin_min_box input:-ms-input-placeholder,
  body .busin .busin_main .busin_min_box textarea:-ms-input-placeholder,
  html .busin .busin_main .busin_min_box textarea:-ms-input-placeholder {
    color: #DDE1E4;
  }
  body .busin h2,
  html .busin h2 {
    position: absolute;
    top: 300px;
    left: 19%;
  }
  body .busin h2 span,
  html .busin h2 span {
    font-family: PingFangSC-Semibold;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 1.79px;
  }
  body .busin h2 i,
  html .busin h2 i {
    font-family: PingFangSC-Thin;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 1.79px;
  }
  body .busin .outbox input,
  html .busin .outbox input {
    width: 100px;
    height: 50px;
    background: #486CD8;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #FFFFFF;
    border: 0;
    position: relative;
    bottom: -230px;
    margin-left: 36px;
    letter-spacing: 0;
    text-align: center;
  }
  body .busin h4,
  html .busin h4 {
    opacity: 0.6;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 5.17px;
  }
  body .busin .h1,
  html .busin .h1 {
    position: absolute;
    top: 420px;
    left: 19%;
  }
  body .busin .h2,
  html .busin .h2 {
    position: absolute;
    top: 440px;
    left: 19%;
  }
  body .busin_down,
  html .busin_down {
    width: 100%;
    height: 24%;
    overflow: hidden;
    position: relative;
  }
  body .busin_down p,
  html .busin_down p {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 14px;
    font-family: PingFangSC-Regular;
    font-size: 10px;
    color: #92939D;
    letter-spacing: 0.89px;
    text-align: center;
    line-height: 22px;
  }
  body .busin_down p i,
  html .busin_down p i {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1300px) {
  body,
  html {
    min-width: 1000px;
    width: 100%;
    height: 100%;
    min-height: 900px;
  }
  body nav,
  html nav {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    z-index: 3;
  }
  body nav,
  html nav {
    position: absolute;
    z-index: 99;
  }
  body .busin,
  html .busin {
    width: 100%;
    height: 76%;
    padding: 60px 0;
    background-color: #6676E9;
    position: relative;
  }
  body .busin .busin_in,
  html .busin .busin_in {
    position: absolute;
    top: 300px;
    left: 13%;
    width: 290px;
    height: 200px;
    background: url(../img/businText.png) center no-repeat;
    background-size: contain;
  }
  body .busin .busin_main,
  html .busin .busin_main {
    position: absolute;
    z-index: 66;
    top: 200px;
    left: 40%;
    width: 600px;
    height: 570px;
    background: #FFFFFF;
    box-shadow: 2px 8px 10px 0 rgba(4, 4, 4, 0.13);
    border-radius: 4px;
    padding: 50px 70px;
  }
  body .busin .busin_main .busin_min_box,
  html .busin .busin_main .busin_min_box {
    width: 100%;
    height: 240px;
    border-radius: 4px;
  }
  body .busin .busin_main .busin_min_box .textarea_box,
  html .busin .busin_main .busin_min_box .textarea_box {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #E4E7ED;
  }
  body .busin .busin_main .busin_min_box .textarea_box:focus,
  html .busin .busin_main .busin_min_box .textarea_box:focus,
  body .busin .busin_main .busin_min_box input:focus,
  html .busin .busin_main .busin_min_box input:focus {
    border: 1px solid #5279f0;
  }
  body .busin .busin_main .busin_min_box input,
  html .busin .busin_main .busin_min_box input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    margin-top: 12px;
    border: 1px solid #E4E7ED;
    border-radius: 4px;
  }
  body .busin .busin_main .busin_min_box input:nth-of-type(1),
  html .busin .busin_main .busin_min_box input:nth-of-type(1) {
    margin-top: 6px;
  }
  body .busin .busin_main .busin_min_box .btn_sure,
  html .busin .busin_main .busin_min_box .btn_sure {
    width: 148px;
    height: 50px;
    background: #486CD8;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #FFFFFF;
    border: 0;
    margin-left: 120px;
    letter-spacing: 0;
    text-align: center;
  }
  body .busin .busin_main .busin_min_box button,
  html .busin .busin_main .busin_min_box button {
    margin-top: 30px;
  }
  body .busin .busin_main .busin_min_box .btn_ns,
  html .busin .busin_main .busin_min_box .btn_ns {
    width: 136px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E4E7ED;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    margin-left: 20px;
    font-size: 12px;
    padding-top: 6px;
    color: #6E6D7A;
    letter-spacing: 0;
    text-align: center;
  }
  body .busin .busin_main .busin_min_box #email_prompt,
  html .busin .busin_main .busin_min_box #email_prompt,
  body .busin .busin_main .busin_min_box #mobile_prompt,
  html .busin .busin_main .busin_min_box #mobile_prompt,
  body .busin .busin_main .busin_min_box #textare_prompt,
  html .busin .busin_main .busin_min_box #textare_prompt {
    color: red;
  }
  body .busin .busin_main .busin_min_box .voice,
  html .busin .busin_main .busin_min_box .voice {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 270px;
    right: 100px;
  }
  body .busin .busin_main .busin_min_box .voice span,
  html .busin .busin_main .busin_min_box .voice span {
    color: #486CD8;
  }
  body .busin .busin_main .busin_min_box textarea::placeholder,
  html .busin .busin_main .busin_min_box textarea::placeholder {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #DDE1E4;
    letter-spacing: 0;
    line-height: 18px;
  }
  body .busin .busin_main .busin_min_box input::-webkit-input-placeholder,
  html .busin .busin_main .busin_min_box input::-webkit-input-placeholder,
  body .busin .busin_main .busin_min_box textarea::-webkit-input-placeholder,
  html .busin .busin_main .busin_min_box textarea::-webkit-input-placeholder {
    color: #DDE1E4;
  }
  body .busin .busin_main .busin_min_box input:-moz-placeholder,
  html .busin .busin_main .busin_min_box input:-moz-placeholder,
  body .busin .busin_main .busin_min_box textarea:-moz-placeholder,
  html .busin .busin_main .busin_min_box textarea:-moz-placeholder {
    color: #DDE1E4;
  }
  body .busin .busin_main .busin_min_box input::-moz-placeholder,
  html .busin .busin_main .busin_min_box input::-moz-placeholder,
  body .busin .busin_main .busin_min_box textarea::-moz-placeholder,
  html .busin .busin_main .busin_min_box textarea::-moz-placeholder {
    color: #DDE1E4;
  }
  body .busin .busin_main .busin_min_box input:-ms-input-placeholder,
  html .busin .busin_main .busin_min_box input:-ms-input-placeholder,
  body .busin .busin_main .busin_min_box textarea:-ms-input-placeholder,
  html .busin .busin_main .busin_min_box textarea:-ms-input-placeholder {
    color: #DDE1E4;
  }
  body .busin h2,
  html .busin h2 {
    position: absolute;
    top: 300px;
    left: 19%;
  }
  body .busin h2 span,
  html .busin h2 span {
    font-family: PingFangSC-Semibold;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 1.79px;
  }
  body .busin h2 i,
  html .busin h2 i {
    font-family: PingFangSC-Thin;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 1.79px;
  }
  body .busin h4,
  html .busin h4 {
    opacity: 0.6;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 5.17px;
  }
  body .busin .h1,
  html .busin .h1 {
    position: absolute;
    top: 420px;
    left: 19%;
  }
  body .busin .h2,
  html .busin .h2 {
    position: absolute;
    top: 440px;
    left: 19%;
  }
  body .busin_down,
  html .busin_down {
    width: 100%;
    height: 24%;
    overflow: hidden;
    position: relative;
  }
  body .busin_down p,
  html .busin_down p {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 14px;
    font-family: PingFangSC-Regular;
    font-size: 10px;
    color: #92939D;
    letter-spacing: 0.89px;
    text-align: center;
    line-height: 22px;
  }
  body .busin_down p i,
  html .busin_down p i {
    margin-left: 20px;
  }
}
