/* 初始化代码 */
* {
  padding: 0;
  margin: 0;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
  padding: 0;
  margin: 0;
}
/* 字体 */
body {
  font-size: 14px;
  line-height: 2em;
}
ol,
ul,
dl {
  list-style: none;
}
img {
  border: 0px;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
i,
em,
u {
  font-style: normal;
}
s {
  text-decoration: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
input,
button {
  outline: none;
}
.clearfix {
  *zoom: 1;
}
/* 版心 并且居中对齐*/
.w {
  width: 1200px;
  margin: 0 auto;
}
div {
  box-sizing: border-box;
}
/* 处理兼容性问题 */
/* 去除火狐浏览器输入框的红色边框 */
input[required]:invalid,
input:focus:invalid,
textarea[required]:invalid,
textarea:focus:invalid {
  box-shadow: none;
}
-moz-box-shadow:none input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: #666 !important;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.textarea_box:focus,
input:focus {
  border: 1px solid #5279f0;
}
/* 模态框的样式 */
#deletefis {
  width: 364px;
  height: 250px;
  border-radius: 5px;
  text-align: center;
  top: 300px;
  left: 40%;
}
#deletefis h3 {
  margin-top: 61px;
  font-size: 24px;
  color: #169bd5;
  margin-bottom: 13px;
}
#deletefis p {
  font-size: 14px;
  margin-bottom: 44px;
  color: #999999;
}
#deletefis a {
  display: inline-block;
  width: 100px;
  height: 33px;
  padding: 0px;
  font-size: 15px;
  line-height: 33px;
  margin: 0px 20px;
  border-radius: 20px;
  color: #c0c0c0;
  outline: none;
  background: #fff;
}
#deletefis .nochick {
  border: solid 1px #c0c0c0;
}
#deletefis .mdel {
  background: #3ebefb;
  color: #fff;
}
@keyframes jipao {
  from {
    transform: translate(60px);
  }
  to {
    transform: translate(0);
  }
}
@keyframes jipao1 {
  from {
    transform: translate(50px);
  }
  to {
    transform: translate(0);
  }
}
/* 侧边栏部分css */
body {
  font-family: "Microsoft YaHei", "Times New Roman";
}
/* .clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
    display: block;
    content: none
} */
nav {
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
}
nav .fixed {
  width: 100%;
  height: 60px;
}
nav .nav_top {
  width: 78%;
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  position: relative;
}
nav .nav_top .nav_left {
  float: left;
  font-size: 18px;
  width: 25%;
  height: 60px;
}
nav .nav_top .nav_left .log {
  float: left;
  margin-right: 12px;
}
nav .nav_top .nav_left h4 {
  font-family: FontName;
  vertical-align: middle;
  color: #FFF;
  letter-spacing: 0.64px;
  line-height: 32px;
}
nav .nav_top .nav_right {
  float: right;
  height: 60px;
  line-height: 60px;
}
nav .nav_top .nav_right ul {
  width: 500px;
}
nav .nav_top .nav_right ul li {
  float: left;
  font-size: 14px;
  opacity: 0.5;
  font-family: PingFangSC-Regular;
  color: #FFF;
  margin-right: 33px;
}
nav .nav_top .nav_right ul li a {
  color: white;
  text-decoration: none;
}
nav .nav_top .nav_right ul li:hover {
  opacity: 1 ;
}
nav .nav_top .nav_right ul li:hover a {
  text-decoration: none;
}
nav .nav_top .nav_right ul .white {
  opacity: 1 ;
}
nav .nav_top .nav_right ul .lastli {
  float: right;
  margin: 0;
}
nav .nav_top .nav_right ul .persion_top {
  margin: 0  10px;
}
.indexBut {
  background: -webkit-linear-gradient(49deg, rgba(248, 146, 45, 0.1) 0%, rgba(241, 181, 0, 0.1) 100%);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(49deg, rgba(248, 146, 45, 0.1) 0%, rgba(241, 181, 0, 0.1) 100%);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(49deg, rgba(248, 146, 45, 0.1) 0%, rgba(241, 181, 0, 0.1) 100%);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(49deg, rgba(248, 146, 45, 0.1) 0%, rgba(241, 181, 0, 0.1) 100%);
  border-radius: 17px;
}
body {
  background: red;
  min-width: 1300px;
  position: relative;
}
body .backTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  text-align: center;
  font-size: 4px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  border-radius: 50%;
  background-color: #F7C959;
  cursor: pointer;
  z-index: 999;
  display: none;
}
body .backTop img {
  width: 18px;
}
body .backTop:hover {
  opacity: 0.8;
}
body .index_nav {
  width: 100%;
  height: 342px;
  box-sizing: border-box;
  background-attachment: fixed;
  position: relative;
  background: -webkit-linear-gradient(#070A19, #070A19);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#070A19, #070A19);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#070A19, #070A19);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#070A19, #070A19);
  /* 标准的语法 */
  z-index: 99;
}
body .index_nav .nav_main {
  width: 1200px;
  height: 342px;
  margin: 0 auto;
  background: url(../img/banner1_qy.jpg) no-repeat;
  background-size: 100% 100%;
}
body .index_nav .fixed {
  width: 100%;
  height: 55px;
  position: absolute;
}
body .index_nav .nav_top {
  width: 78%;
  width: 1200px;
  height: 55px;
  margin: 0 auto;
  position: relative;
}
body .index_nav .nav_top .nav_left {
  float: left;
  font-size: 18px;
  width: 25%;
  height: 55px;
}
body .index_nav .nav_top .nav_left .log {
  float: left;
  margin-right: 12px;
}
body .index_nav .nav_top .nav_left .log img {
  width: 182px;
  height: 35px;
}
body .index_nav .nav_top .nav_left h4 {
  font-family: FontName;
  vertical-align: middle;
  color: #FFF;
  letter-spacing: 0.64px;
  line-height: 32px;
}
body .index_nav .nav_top .nav_right {
  float: right;
  height: 55px;
  line-height: 55px;
}
body .index_nav .nav_top .nav_right ul {
  width: 600px;
}
body .index_nav .nav_top .nav_right ul li {
  float: left;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  color: #FFF;
  margin-right: 33px;
}
body .index_nav .nav_top .nav_right ul li a {
  text-decoration: none !important;
  font-size: 15px;
}
body .index_nav .nav_top .nav_right ul li:hover a {
  text-decoration: none !important;
}
body .index_nav .nav_top .nav_right ul .white1 {
  font-weight: 600;
  font-size: 16px;
}
body .index_nav .nav_top .nav_right ul .lastli {
  float: right;
  margin: 0;
  position: relative;
  opacity: 1 !important;
}
body .index_nav .nav_top .nav_right ul .lastli .lastliBox {
  position: absolute;
  top: 38px;
  display: none;
  width: 96px;
  right: -25px;
  border-radius: 2px;
  height: auto;
  cursor: pointer;
  padding: 4px 18px 14px;
  padding-left: 24px;
  background-image: url(../img/bg_dropdown.svg);
  background-size: 100% 100%;
  text-align: left;
}
body .index_nav .nav_top .nav_right ul .lastli .lastliBox i {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #6E6D7A;
  width: 60px;
  height: 40px;
  display: block;
}
body .index_nav .nav_top .nav_right ul .lastli .lastliBox i:hover {
  color: #7A3A3C;
}
body .index_nav .nav_top .nav_right ul .persion_top {
  margin: 0 10px;
}
body .index_nav .nav-center {
  width: 1200px;
  height: 100px;
  position: absolute;
  top: 116px;
  background-size: 100% 100%;
}
body .index_nav .nav-center .nav-center_in {
  width: 378px;
  height: 100px;
  margin-left: 182px;
  background: url(../img/indexBannerText_qy.svg) no-repeat;
  background-size: 100% 100%;
}
body .index_nav .nav-center span {
  font-family: PingFangSC-Thin;
  font-size: 46px;
  font-weight: 400;
  color: #FFFFFF;
  position: absolute;
  left: 18%;
  top: 120px;
}
body .index_nav .nav-center span i {
  font-family: PingFangSC-Semibold;
  font-size: 46px;
  color: #fff;
  line-height: 65px;
}
body .index_nav .nav-center h5 {
  opacity: 0.5;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 16px;
  position: absolute;
  left: 18%;
  top: 190px;
}
body .index_nav .nav_footer {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  top: 270px;
  background: #FFFFFF;
  border-radius: 3px;
  padding: 20px;
  overflow: hidden;
}
body .index_nav .nav_footer ul {
  width: 100%;
  display: flex;
}
body .index_nav .nav_footer ul li {
  flex: 1;
  text-align: center;
  margin: 0 5px;
  background: #FFFFFF;
  height: 70px;
  border-radius: 2px;
  padding-top: 5px;
  transition: all 0.2s linear;
}
body .index_nav .nav_footer ul li a {
  text-decoration: none !important;
}
body .index_nav .nav_footer ul li span {
  display: block;
  padding: 0;
  width: 26px;
  height: 26px;
  margin: 0 auto;
  position: relative;
}
body .index_nav .nav_footer ul li span img {
  position: absolute;
  width: 30px;
  left: 50%;
  transform: translate(-66%);
  top: -6px;
  z-index: 7;
}
body .index_nav .nav_footer ul li i {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #92939D;
  text-align: center;
}
body .index_nav .nav_footer ul li .apdn {
  width: 20px;
  height: 30px;
  margin: 0 auto 4px;
  background-image: url("../img/index/menu_qy.svg");
  background-position: -10px 75px;
  /* background-size: 50px  50px;  */
  transform: scale(1.2);
}
body .index_nav .nav_footer ul li:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transform: translate3d(0, -2px, 0);
}
body .center_one {
  width: 100%;
  height: 500px;
  background: #F8F8F8;
  padding: 70px 0 0 0;
  /* 覃胜钦 */
  /* 主体颜色控制 */
  /* 内容块第一行 */
  /* 内容块数据项内容 */
  /* 覃胜钦 */
  /* 主体颜色控制 */
  /* 内容块第一行 */
  /* 内容块数据项内容 */
}
body .center_one .index-echarts-box {
  /* width: 900px; */
  width: 1200px;
  margin: 0 auto;
}
body .center_one .index-echarts-box {
  /* width: 900px; */
  width: 1200px;
  margin: 0 auto;
}
body .center_one .echar-box {
  position: relative;
  width: 643px;
  height: 362px;
  margin-left: 60px;
  background-image: url("../img/index/back.svg");
  display: inline-block;
  vertical-align: middle;
}
body .center_one #main {
  width: 398px;
  height: 252px;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
  position: relative;
  top: 40px;
  left: 50px;
  overflow: hidden;
  border-radius: 10px;
}
body .center_one #main1 {
  width: 218px;
  height: 300px;
  display: inline-block;
  margin-left: -5px;
  vertical-align: middle;
  position: relative;
  top: 40px;
  left: 50px;
}
body .center_one .pos,
body .center_one .position {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
body .center_one .position {
  top: 19px;
  right: -71px;
}
body .center_one .pos {
  right: 221px;
  top: 86px;
}
body .center_one .pos > div {
  width: 150px;
}
body .center_one .pos .dis-inl {
  display: inline-block;
  width: 48px;
  font-size: 12px;
  color: #92939D;
  text-align: right;
  margin-bottom: 20px;
}
body .center_one .dis-inl-right {
  margin-left: 35px;
}
body .center_one .dis-inl > .pos-num {
  font-size: 18px;
}
body .center_one .dis-inl > .pos-sch {
  width: 100%;
  height: 3px;
  background-color: #EDF0F3;
  border-radius: 1.5px;
  margin-top: 14px;
}
body .center_one .pos-num-one > .pos-num {
  color: #F1B500;
}
body .center_one .pos-num-two > .pos-num {
  color: #FFC361;
}
body .center_one .pos-num-thr > .pos-num {
  color: #F7C959;
}
body .center_one .pos-num-fou > .pos-num {
  color: #FFD63D;
}
body .center_one .pos-num-fiv > .pos-num {
  color: #DA6372;
}
body .center_one .pos-num-six > .pos-num {
  color: #9DE469;
}
body .center_one .pos-num-one > .pos-sch > div {
  background-color: #F1B500;
}
body .center_one .pos-num-two > .pos-sch > div {
  background-color: #FFC361;
}
body .center_one .pos-num-thr > .pos-sch > div {
  background-color: #F7C959;
}
body .center_one .pos-num-fou > .pos-sch > div {
  background-color: #FFD63D;
}
body .center_one .pos-num-fiv > .pos-sch > div {
  background-color: #DA6372;
}
body .center_one .pos-num-six > .pos-sch > div {
  background-color: #9DE469;
}
body .center_one .pos-sch > div {
  background-color: #F1B500;
  float: right;
  height: 3px;
  border-radius: 1.5px;
}
body .center_one .position > div {
  position: relative;
  font-size: 12px;
  color: #6E6D7A;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 12px;
}
body .center_one .position > .active {
  /*  background-color: rgba(72, 108, 216, 0.1);
      border: solid 1px rgba(72, 108, 216, 0.5);
      color: #F1B500;*/
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 4px 0px rgba(93, 103, 109, 0.19);
  border-radius: 12px;
  border: 1px solid rgba(241, 181, 0, 0.5);
  color: #F1B500;
}
body .center_one .dingwei1 {
  width: 100px;
  right: 126px;
  top: 20px;
}
body .center_one .dingwei2 {
  width: 100px;
  right: 70px;
  top: 40px;
}
body .center_one .dingwei3 {
  width: 114px;
  right: 42px;
  top: 60px;
}
body .center_one .dingwei4 {
  width: 104px;
  right: 30px;
  top: 80px;
}
body .center_one .dingwei5 {
  width: 122px;
  right: 40px;
  top: 100px;
}
body .center_one .dingwei6 {
  width: 122px;
  right: 60px;
  top: 120px;
}
body .center_one .dingwei7 {
  width: 78px;
  right: 106px;
  top: 140px;
}
body .center_one .dingwei8 {
  right: 70px;
  top: 46px;
}
body .center_one .dingwei9 {
  right: 87px;
  top: 53px;
}
body .center_one .dingwei10 {
  right: 105px;
  top: 53px;
}
body .center_one .dingwei11 {
  right: 140px;
  top: 50px;
}
body .center_one .dingwei12 {
  right: 188px;
  top: 44px;
}
body .center_one .chart-button:hover {
  opacity: 0.7;
}
body .center_one .position > .index-wanshan {
  top: -132px;
  right: 185px;
  color: white;
  text-align: left;
}
body .center_one .index-big-text {
  font-size: 26px;
}
body .center_one .position .index-p {
  font-size: 12px;
  height: 12px;
  line-height: 12px;
}
body .center_one .position > .index-background-person {
  width: 450px;
  height: 200px;
  position: absolute;
  top: 149px;
  right: 220px;
  background-image: url("../img/index/backPerson_qy.svg");
  background-position: -20px -1480px;
}
body .center_one .echar-right {
  display: inline-block;
  vertical-align: middle;
  height: 362px;
  float: right;
  margin-right: 80px;
}
body .center_one .chart-header {
  font-size: 36px;
  color: #3D4F98;
  margin-top: 100px;
}
body .center_one .chart-header > div {
  display: inline-block;
}
body .center_one .chart-two-level {
  width: 300px;
  color: #92939D;
  font-size: 14px;
  opacity: 0.5;
  margin-top: 20px;
  margin-right: 50px;
}
body .center_one .chart-button {
  margin-top: 40px;
  background: -webkit-linear-gradient(49deg, rgba(248, 146, 45, 0.1) 0%, rgba(241, 181, 0, 0.1) 100%);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(49deg, rgba(248, 146, 45, 0.1) 0%, rgba(241, 181, 0, 0.1) 100%);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(49deg, rgba(248, 146, 45, 0.1) 0%, rgba(241, 181, 0, 0.1) 100%);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(49deg, rgba(248, 146, 45, 0.1) 0%, rgba(241, 181, 0, 0.1) 100%);
  /* 标准的语法 */
  color: #F5A119;
  text-align: center;
  line-height: 34px;
  height: 34px;
  font-size: 12px;
  width: 113px;
  cursor: pointer;
  border-radius: 17px;
  border: 1px solid #f7c959;
}
body .center_one .colorBlue {
  color: #F1B500;
}
body .center_one .colorShallow {
  color: #999;
}
body .center_one .colorDark {
  color: #666666;
}
body .center_one .mainContent {
  width: 100%;
  height: 100%;
  padding: 25px;
  overflow: hidden;
}
body .center_one .mainContent > .contentAmount {
  width: 100%;
  height: 36px;
  line-height: 36px;
  display: flex;
  padding-left: 10px;
}
body .center_one .contentAmount > .amountDiv1 {
  width: 33%;
}
body .center_one .amountDiv1 > .amountIcon {
  background-image: url("../img/index/backPerson_qy.svg");
  background-position: -864px -364px;
  padding: 9%;
}
body .center_one .contentAmount > .amountDiv2 {
  width: 50%;
  font-size: 12px;
}
body .center_one .amountDiv2 > .amountUnit {
  font-size: 12px;
}
body .center_one .contentAmount > .amountDiv3 {
  width: 20%;
  background-image: url("../img/index/backPerson_qy.svg");
  background-position: 0 -26px;
}
body .center_one .ContentItem {
  margin-top: 20px;
  padding: 5px 10px;
  width: 100%;
  height: 72%;
  background: #F3F3F3;
}
body .center_one .ContentItem > .singleItem {
  display: flex;
  padding: 5px 0;
}
body .center_one .singleItem > .itemIcon {
  background-image: url("../img/index/backPerson_qy.svg");
  width: 8%;
}
body .center_one .singleItem > .itemTitle {
  width: 35%;
  line-height: 22px;
  font-size: 12px;
  overflow: hidden;
}
body .center_one .singleItem > .itemPrice {
  width: 60%;
  line-height: 22px;
  font-size: 12px;
}
body .center_one .colorBlue {
  color: #F1B500;
}
body .center_one .colorShallow {
  color: #999;
}
body .center_one .colorDark {
  color: #666666;
}
body .center_one .mainContent {
  width: 100%;
  height: 100%;
  padding: 25px;
  overflow: hidden;
}
body .center_one .mainContent > .contentAmount {
  width: 100%;
  height: 36px;
  line-height: 36px;
  display: flex;
}
body .center_one .contentAmount > .amountDiv1 {
  width: 45%;
  overflow-y: hidden;
}
body .center_one .amountDiv1 > .amountIcon {
  background-image: url("../img/index/backPerson_qy.svg");
  background-position: -864px -364px;
  padding: 9%;
}
body .center_one .contentAmount > .amountDiv2 {
  width: 50%;
  font-size: 12px;
}
body .center_one .amountDiv2 > .amountUnit {
  font-size: 12px;
}
body .center_one .contentAmount > .amountDiv3 {
  width: 20%;
  background-image: url("../img/index/backPerson_qy.svg");
  background-position: 0px -25px;
}
body .center_one .ContentItem {
  margin-top: 20px;
  padding: 5px 10px;
  width: 100%;
  height: 72%;
  background: #F3F3F3;
}
body .center_one .ContentItem > .singleItem {
  display: flex;
  padding: 5px 0;
}
body .center_one .singleItem > .itemIcon {
  background-image: url("../img/index/backPerson_qy.svg");
  width: 8%;
}
body .center_one .singleItem > .itemTitle {
  width: 42%;
  line-height: 22px;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .center_one .singleItem > .itemPrice {
  width: 48%;
  line-height: 22px;
  font-size: 12px;
}
body .center_two {
  width: 100%;
  height: 500px;
}
body .center_two .tw {
  width: 1200px;
  height: 462px;
  margin: 0 auto;
  position: relative;
  padding: 30px 0 0 0;
}
body .center_two .center_two_left {
  width: 34%;
  padding-left: 60px;
  height: 100%;
  float: left;
  position: relative;
}
body .center_two .center_two_left h3 {
  font-family: PingFangSC-Thin;
  font-size: 36px;
  width: 100%;
  height: 100%;
  color: #3D4F98;
  line-height: 2em;
  position: absolute;
  top: 50px;
}
body .center_two .center_two_left h3 span {
  font-family: PingFangSC-Semibold;
  font-size: 36px;
  color: #3D4F98;
}
body .center_two .center_two_left p {
  opacity: 0.5;
  font-family: PingFangSC-Light;
  font-size: 14px;
  color: #92939D;
  line-height: 11px;
  width: 300px;
  position: absolute;
  line-height: 1.6em;
  top: 148px;
}
body .center_two .center_two_left .c_btn {
  position: absolute;
  width: 114px;
  height: 36px;
  top: 230px;
  color: #F5A119;
  cursor: pointer;
  border-radius: 17px;
  border: 1px solid #f7c959;
}
body .center_two .center_two_left .c_btn:hover {
  opacity: 0.7;
}
body .center_two .center_two_right {
  width: 66%;
  float: left;
  height: 100%;
  position: relative;
  padding: 10px;
  padding-left: 20px;
}
body .center_two .center_two_right .carousel-control.left,
body .center_two .center_two_right .carousel-control.right {
  background: transparent !important;
}
body .center_two .center_two_right .item {
  padding: 10px !important;
}
body .center_two .center_two_right .carousel {
  position: relative;
}
body .center_two .center_two_right .carousel-indicators {
  width: auto;
  position: absolute;
  height: 6px;
  bottom: -15px;
  padding-left: 100px;
}
body .center_two .center_two_right .carousel-indicators li {
  float: left;
  width: 92px;
  height: 6px;
  margin-right: 2%;
  border-radius: 0;
  background: #E4E7ED;
}
body .center_two .center_two_right .carousel-indicators .active {
  background: #F1B500;
  margin-top: 2px;
  border: 0;
  height: 4px;
}
body .center_two .center_two_right .detailed {
  float: left;
  padding: 20px 35px 0 35px;
  width: 45%;
  height: 330px;
  margin-right: 4%;
  transition: all 0.2s linear;
  background: #FBFBFC;
  margin-bottom: 10px;
  position: relative;
  border-radius: 8px;
}
body .center_two .center_two_right .detailed h5 {
  font-family: PingFangSC-Medium;
  font-size: 18px;
  padding-left: 6px;
  color: #3D4F98;
  line-height: 2em;
  margin-bottom: 10px;
  font-weight: 600;
}
body .center_two .center_two_right .detailed .detailed_in {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 30%;
  left: 0;
  transition: all 0.2s linear;
}
body .center_two .center_two_right .detailed .detailed_in img {
  width: 70%;
  height: 80%;
  margin-left: 40px;
  margin-top: 20px;
}
body .center_two .center_two_right .detailed ul {
  display: none;
  height: 198px;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s linear;
}
body .center_two .center_two_right .detailed ul li {
  height: 50px;
  border-radius: 2px;
  padding: 6px 0 0 12px;
  background: #F8F8F8;
  margin-top: 12px;
}
body .center_two .center_two_right .detailed ul li span {
  display: block;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  line-height: 1.6em;
  color: #92939D;
}
body .center_two .center_two_right .detailed ul li .i {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #3B3A45;
  padding-left: 0 !important;
}
body .center_two .center_two_right .detailed .more {
  display: none;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  cursor: pointer;
  color: #F7C959;
  letter-spacing: 0;
  margin-top: 20px;
  padding-left: 12px;
}
body .center_two .center_two_right .detailed i {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #92939D;
}
body .center_two .center_two_right .detailed:hover {
  background: #FFFFFF;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
body .center_two .center_two_right .detailed:hover .detailed_in,
body .center_two .center_two_right .detailed:hover i {
  display: none;
}
body .center_two .center_two_right .detailed:hover ul,
body .center_two .center_two_right .detailed:hover .more {
  display: block;
}
body .center_two .center_two_scoll {
  width: 50%;
  height: 20px;
  position: absolute;
  right: 10px;
  bottom: 60px;
}
body .center_two .center_two_scoll ul {
  width: 100%;
}
body .center_two .center_two_scoll ul li {
  float: left;
  width: 22%;
  height: 4px;
  margin-right: 2%;
  background: #E4E7ED;
}
body .center_two .center_two_scoll .blue {
  background: #F1B500;
}
body .center_three {
  width: 100%;
  background-color: #F8F8F8;
  height: 500px;
  overflow: hidden;
}
body .center_three .tr {
  width: 1200px;
  height: 492px;
  margin: 0 auto;
  padding: 80px 0;
  background: url(../img/Iyytp.svg) no-repeat;
  background-position: -175px 44px;
  background-size: 100% 92%;
  padding-left: 60px;
}
body .center_three .center_three_left {
  width: 70%;
  float: left;
  overflow: hidden;
  height: 100%;
}
body .center_three .center_three_left ul {
  width: 100%;
  height: 100%;
}
body .center_three .center_three_left ul li {
  float: left;
  width: 31%;
  background: #fff;
  height: 84px;
  margin: 6px 5px;
  border: 1px solid #E4E7ED;
  border-radius: 4px;
  padding-left: 10px;
  transition: all 0.2s linear;
  position: relative;
  overflow: hidden;
}
body .center_three .center_three_left ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
body .center_three .center_three_left ul li .noshow {
  width: 60px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  animation: jipao 0.2s ease;
  display: none;
  background: rgba(236, 240, 251, 0.95);
  text-align: center;
}
body .center_three .center_three_left ul li .noshow span {
  font-size: 14px;
  color: #F1B500;
}
body .center_three .center_three_left ul li .noshow span img {
  margin-top: 18px;
  width: 16px;
  margin-bottom: 4px;
}
body .center_three .center_three_left ul li .noshow p {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #92939D;
  margin-top: 6px;
  letter-spacing: 0.58px;
}
body .center_three .center_three_left ul li .main_show_left {
  float: left;
  width: 96px;
  height: 100%;
  text-align: center;
  padding-top: 22px;
}
body .center_three .center_three_left ul li .main_show_left img {
  width: 40px;
}
body .center_three .center_three_left ul li .p1 {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #6E6D7A;
  text-align: left;
  line-height: 12px;
  margin-top: 20px;
}
body .center_three .center_three_left ul li .p2 {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #92939D;
  text-align: left;
  line-height: 12px;
  margin-top: 16px;
}
body .center_three .center_three_left ul li:hover {
  background: #FFFFFF;
  border: 1px solid #E4E7ED;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
}
body .center_three .center_three_left ul li:hover .noshow {
  display: block;
}
body .center_three .center_three_rght {
  width: 30%;
  height: 100%;
  float: left;
  padding-left: 1%;
  position: relative;
}
body .center_three .center_three_rght h3 {
  font-family: PingFangSC-Semibold;
  font-size: 36px;
  color: #3D4F98;
  position: absolute;
  line-height: 2em;
}
body .center_three .center_three_rght h3 span {
  ont-family: PingFangSC-Semibold;
  font-size: 36px;
  color: #3D4F98;
}
body .center_three .center_three_rght p {
  position: absolute;
  top: 100px;
  opacity: 0.5;
  width: 300px;
  line-height: 1.6em;
  font-family: PingFangSC-Light;
  font-size: 14px;
  color: #92939D;
}
body .center_three .center_three_rght .c_btn {
  position: absolute;
  width: 114px;
  height: 36px;
  top: 189px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  letter-spacing: 0;
  cursor: pointer;
  color: #F5A119;
  border-radius: 17px;
  border: 1px solid #f7c959;
}
body .center_three .center_three_rght .c_btn:hover {
  opacity: 0.7;
}
body .center_four {
  width: 100%;
  height: 380px;
  background-color: #373B48;
  position: relative;
}
body .center_four .ce {
  width: 1200px;
  height: 100%;
  padding: 40px 0 0 0;
  margin: 0 auto;
}
body .center_four .center_four_left {
  width: 25%;
  height: 100%;
  float: left;
  overflow: hidden;
}
body .center_four .center_four_left .login2 {
  width: 138px;
  height: 58px;
  text-align: center;
  padding-left: 20px;
  margin-bottom: 10px;
}
body .center_four .center_four_left .login2 img {
  width: 240px;
}
body .center_four .center_four_left p {
  width: 248px;
  text-indent: 2em;
  text-align: left;
  margin: 0px auto 10px;
  opacity: 0.3;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 1.07px;
  line-height: 18px;
}
body .center_four .center_four_left .wxphoto {
  width: 100%;
  height: 60px;
}
body .center_four .center_four_left .wxphoto span {
  float: left;
  width: 16%;
  height: 100%;
  margin-top: 5px;
  margin-left: 20px;
  text-align: center;
}
body .center_four .center_four_right {
  width: 75%;
  height: 100%;
  float: left;
  padding-top: 15px;
}
body .center_four .center_four_right dl {
  float: left;
  margin-left: 18%;
}
body .center_four .center_four_right dl dt {
  margin-bottom: 36px;
}
body .center_four .center_four_right dl dt a {
  opacity: 0.8;
  font-family: PingFangSC-Semibold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}
body .center_four .center_four_right dl dd {
  margin-top: 8px;
}
body .center_four .center_four_right dl dd a {
  opacity: 0.5;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  display: block;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 10px;
  margin-bottom: 20px;
}
body .center_four .center_four_footer p {
  width: 1200px;
  position: absolute;
  bottom: 10px;
  opacity: 0.3;
  font-family: PingFangSC-Regular;
  color: #FFFFFF;
  font-size: 10px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 22px;
}
body .center_four .center_four_footer p i {
  margin-left: 20px;
}
